@{
    ViewData["Title"] = "Admin Page";
}

<div class="container">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">DashBoard</h1>
  </div>
  <div class="row">
    <!--   Users -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Users</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
            </div>
            <div class="col-auto">
              <i class="fa-solid fa-user fa-2xl"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  End Users -->
    <!--    Roles  -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Roles</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">6</div>
            </div>
            <div class="col-auto">
              <i class="fa-solid fa-key fa-2xl"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--   End Roles -->
    <!--     Buses -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Users</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
            </div>
            <div class="col-auto">
              <i class="fa-solid fa-bus fa-2xl"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--     End Buses -->
  </div>
</div>