@model CompanyMvc.Models.ViewModels.RoutesViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<div id="booking" class="section-1">
    <div class="section-1-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="booking-cta">
                        <h1>Book with Us</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
                            ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
                            Perspiciatis.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7">
                    <div class="booking-form">
                        <form asp-action="Index" asp-controller="Home" method="post">
                            <div class="form-group">
                                <span class="form-label">Source</span>
                                <select class="form-select" asp-for="SelectedRouteTag" asp-items="Model.SelectListSource"></select>
                                <span class="select-arrow"></span>
                            </div>
                          <div class="form-group">
                                <span class="form-label">Destination</span>
                                <select class="form-select" asp-for="SelectedRouteTag" asp-items="Model.SelectListDestination"></select>
                                <span class="select-arrow"></span>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <span class="form-label text-center">Travel Date</span>
                                        <input class="form-control" type="date" required asp-for="TravelDate">
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button type="submit" class="btn btn-primary">Find Buses</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>