@model CompanyMvc.Models.ViewModels.RoutesViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<div id="booking" class="section-1">
    <div class="section-1-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="booking-cta">
                        <h1>Book with Us</h1>
                        <p>Travel With the safest and most comfortable buses in the Country.
                            Airdrive is managed with full of professionals who are specialized training in passenger transport matters.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7">
                    <div class="booking-form">
                        <form asp-action="Index" asp-controller="Home" method="post">
                            <div class="form-group">
                                <span class="form-label">Source</span>
                                <select class="form-select" asp-for="SelectedRouteTag" asp-items="Model.SelectListSource"></select>
                                <span class="select-arrow"></span>
                            </div>
                          <div class="form-group">
                                <span class="form-label">Destination</span>
                                <select class="form-select" asp-for="SelectedRouteTag" asp-items="Model.SelectListDestination"></select>
                                <span class="select-arrow"></span>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <span class="form-label text-center">Travel Date</span>
                                        <input class="form-control" type="date" required asp-for="TravelDate">
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button type="submit" class="btn btn-primary">Find Buses</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<section class="gallery-block grid-gallery">
	<div class="container">
		<div class="heading">
			<h2>Popular Destinations</h2>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-4 item">
					<img class="img-fluid image scale-on-hover" src="~/images/bus1.jpg" style="height:260px; width:600px">
				<p class="text-center">Visit Mombasa</p>
			</div>
			<div class="col-md-6 col-lg-4 item">
					<img class="img-fluid image scale-on-hover" src="https://pbs.twimg.com/profile_images/1000438694778728448/56QZYHb2_400x400.jpg" style="height:260px; width:600px">
				<p class="text-center">Visit Kisumu</p>
			</div>
			<div class="col-md-6 col-lg-4 item">
					<img class="img-fluid image scale-on-hover" src="https://content.r9cdn.net/rimg/dimg/c6/b2/7e865843-city-26243-164a4a25d83.jpg" style="height:260px; width:600px">
				<p class="text-center">Visit Nairobi</p>
			</div>
		</div>
    </div>
</section>