@model CompanyMvc.Models.Booking;
@{
    ViewData["Title"] = "CheckOut Page";
}
<div class="center-card">
  <div class="card-payment">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="checkmark">✓</i>
    </div>
    <h1 class="h-payment">Success</h1>
    <p class="p-payment">We received your Payment request;<br /> we'll be in touch shortly!</p>
    <p class="p-payment mt-2">Download your Ticket here</p>
  </div>
</div>

@* <div class="center-card">
  <div class="card-payment">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="checkmark">❌</i>
    </div>
    <h1 class="h-payment">FAILED</h1>
    <p class="p-payment">Your Payment request Failed;<br />Please Try again shortly!</p>
  </div>
</div> *@